.__title {
  display: inline;
}

.desc {
  display: block;
  font-size: 0.8em;
  margin-top: .2em;
  border-block: 1px solid #ddd;
  padding-block: .3em;
}

.bordered {
  border: 1px solid #ddd;
  border-radius: .2em;
  padding: .5em;
}