header {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: stretch;
}

main {
  flex-grow: 1;
  padding: 1em;
}

footer {
  padding: 1rem;
}

.dark-bg {
  background-color: var(--dark-bg-color);
  color: white;
}

header > h1 {
  margin: 0;
}

header > input {
  padding-left: 1em;
  font-size: 1em;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

#error {
  color: rgb(223, 20, 95);
}

.split-screen {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

.right-align {
  float: right;
  margin-top: 1.2em;
}

/* TODO: This isn't sticky-ing. The grid probably needs to have a container for the markdown
         with a overflow-y: scroll */
.close-btn {
  font-size: 2em;
  width: 1.5em;
  height: 1.5em;
  position: sticky;
  top: 0;
}

#markdown-container {
  overflow-x: hidden;
}

#markdown-container img {
  max-width: 100%;
  display: block;
  margin: 1em 0;
}

#markdown-container iframe {
  width: 100%;
}

pre:has(code) {
  overflow-x: scroll;
  padding: 1em;
  background-color: #00000010;
}

.link-section {
  display: flex;
  flex-direction: row;
}

.link-section > *:not(:last-child)::after {
  content: " ";
  margin-inline: 1em;
  border-left: 1px solid black;
}

.dark-bg .link-section > *:not(:last-child)::after {
  border-left-color: white;
}

.dark-bg a {
  color: lightblue;
}

.dark-bg a:hover {
  color: white;
}

.dark-bg a:visited {
  color: rgb(228, 198, 228);
}

.dark-bg a:active {
  color: rgb(212, 114, 212);
}

.dark-bg a::after {
  /* Make the external link icon white */
  filter: invert(1);
}