nav {
  padding: 1rem;
  display: flex;
  background-color: var(--dark-bg-color);
  color: white;
  gap: 1rem;
  justify-content: stretch;
}

main {
  flex-grow: 1;
}

footer {
  padding: 1rem;
  background-color: var(--dark-bg-color);
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}