/* Global App style rules */
h1 {
	font-size: 2.5rem;
	font-weight: 200;
}

h2 {
	font-weight: 400;
}

h3 {
	font-weight: 400;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

summary {
	margin-bottom: .2em;
}

summary:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

pre:has(> code) {
  border-radius: .2em;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.subtle-link {
	font-size: .7em;
}

a[target="_blank"]::after {
	content: "";
  width: .7em;
  height: .7em;
  background-image: url(./assets/link-external-16.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

/* Palette variables */
:root {
	--dark-bg-color: rgb(37, 84, 136);
	--success-border: rgb(92, 194, 92);
}